.inputField {
    margin: 1em 0;
    cursor: text;
}

.input {
    border: none;
    border-bottom: 1px solid #3466c0;
    width: 100%;
}

.invalid {
    border-bottom-color: red;
}

.label {
    position: absolute;
    color: gray;
    cursor: text;
}

.uplabel {
    margin-top: -.8em;
    margin-left: .5em;
    font-size: .8em;
}

.checkboxLable {
    font-size: .9em;
}

.error {
    position: absolute;
    margin: 0;
    font-size: .8em;
    color: red;
}