.button {
    color: whitesmoke;
    background-color: #3466c0;
    border-radius: .5em;
    width: 6em;
    height: 3em;
    border-style: none;
    align-self: center;
    justify-self: flex-end;
    margin: 0, auto;
    cursor: pointer;
}

.button:active {
    background-color: #2b5092;
}

.button:disabled {
    color: gray;
    background-color: lightgray;
    cursor: initial;
}