.selectContainer {
    grid-area: header;
    text-align: end;
}

.select {
    margin-bottom: 2em;
    color: gray;
    border: none;
    font-size: .7em;
}

.option {
    background-color: white;
    color: var(--blue);
}